version: '3.8'

services:
  minio:
    image: quay.io/minio/minio:latest
    container_name: minio
    ports:
      - "9000:9000"  # API MinIO
      - "9001:9001"  # Web Console
    env_file:
      - .env_file
    volumes:
      - minio_data:/data
    restart: unless-stopped

volumes:
  minio_data:
